extends ../templates/template


block main
	a(href="/index" class="btn-back") Volver
	div(class="contain-inv")
		button(onClick="showForm()" class="btn-buy") Realizar una nueva compra
		input(type="number" id="tasa-dolar" placeholder="Ingrese tasa del dólar actual..." name="tasa-dolar" step="0.01")

		div(id="form-contain" class="form-contain-inv")
			form(action="/inventario/add" method="POST" class="form-inv" id="form")

				div(class="form-content")
					div(id="content-inputs" class="content-inputs")
						input(id="client" autocomplete="off" type="text" name="client" placeholder="nombre del cliente")
						div(class="camps")
							span(class="articulo-camp") Articulo
							span(class="mount-camp") Cantidad
							span(class="priceDolar-camp") Precio $
							span(class="priceBs-camp") Precio Bs
							span(class="totalDolar-camp") Monto $
							span(class="totalBs-camp") Monto Bs
						div(id="content-articles" class="content-articles")
					
					div(class="input-total")
						input(class="total-dolar" id="monto-total-dolar" step="0.01" type="number" name="priceTotalAllDolar" placeholder="total $" readonly)
						input(class="total-bs" id="monto-total-bs" step="0.01" type="number" name="priceTotalAllBs" placeholder="total Bs" readonly) 
	
					div(class="content-btn")
						button(type="button" onClick="addNewArticle()") agregar nuevo articulo
						button(type="submit") Realizar venta
						button(type="button" onClick="hiddenForm()") Cancelar
						
	div(class="contain-sells")
		h1(class="title-sells") Ventas:
		ul(class="list-sales")
			each sale in sales.reverse()
				a(href="/edit/"+sale.id class="sale-contain-link")
					li(id=sale.id class="sale-contain")
						div(class="products-contain")
							p(class="sale-client")= sale.client
									each items, index in sale.product
										p(class="sale-product")= "- "+items 
											span(class="amount")= "("+sale.amount[index]+")"
						p(class="total-dolar")= "total $: "+ sale.priceTotalAllDolar
						p(class="total-bs")= "total bs: "+ sale.priceTotalAllBs
						-var fecha = sale.createdAt
						p(class="fecha" id="fecha") #{String(fecha).slice(0,16)}
							   
	script
		include ../js/inventario/addArticle.js
	script 
		include ../js/inventario/showForm.js
	script
		include ../js/shared/calcSystem.js